In [22]:
import pandas as pd
import re
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /Users/admin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/admin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer

In [20]:
data = pd.read_csv("../raw_data/Suicide_Detection.csv",index_col=0)
data.head()

                                                text        class
2  Ex Wife Threatening SuicideRecently I left my ...      suicide
3  Am I weird I don't get affected by compliments...  non-suicide
4  Finally 2020 is almost over... So I can never ...  non-suicide
8          i need helpjust help me im crying so hard      suicide
9  I’m so lostHello, my name is Adam (16) and I’v...      suicide

In [15]:
data.describe()

                                                     text    class
count                                              232074   232074
unique                                             232074        2
top     Ex Wife Threatening SuicideRecently I left my ...  suicide
freq                                                    1   116037

In [19]:
data["class"].value_counts()

class
suicide        116037
non-suicide    116037
Name: count, dtype: int64

In [ ]:
# Clean the data
def clean_text(text):
    # Remove HTML tags
    text = re.sub('<.*?>', '', text)

    # Remove non-alphabetic characters and convert to lowercase
    text = re.sub('[^a-zA-Z]', ' ', text).lower()

    # Remove URLs, mentions, and hashtags from the text
    text = re.sub(r'http\S+', '', text)
    text = re.sub(r'@\S+', '', text)
    text = re.sub(r'#\S+', '', text)

    # Tokenize the text
    words = nltk.word_tokenize(text)

    # Remove stopwords
    words = [w for w in words if w not in stopwords.words('english')]

    # Stem the words
    stemmer = PorterStemmer()
    words = [stemmer.stem(w) for w in words]

    # Join the words back into a string
    text = ' '.join(words)
    return text